@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center text-white bg-success">
    <h1 class="display-4">Gama Academy</h1>
    <p>Um projeto CRUD orientado pelo Professor Wilson.</p>
</div>
